:root {
    --color-bg: #2F2F2F;
    --color-0: #000000;
    --color-20: #34302A;
    --color-40: #635D57;
    --color-text: #ffffff;
    --color-variant: #241914;
    --color-main: #F36400;
    --color-error: #BA1B1B;
    --ds-lv1: 8px 8px 0 rgba(0,0,0,.25);
    --ds-lv2: 16px 16px 0 rgba(0,0,0,.14);
    --ds-lv3: 32px 32px 0 rgba(0,0,0,.14);
}