// Dashboard
.Dashboard {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    gap:16px;
    width: 100%;
    .dashboard-section {
        width: calc(50% - 8px);
        background-color: var(--color-20);
        border:1px solid var(--color-0);
        padding:16px;
        border-radius: 16px;
        &.is-fullwidth {
            width: 100%;
            border:none;
        }
        .section-title {
            color:var(--color-text);
            font-weight: 700;
            margin-bottom: 16px;
        }
        table {
            width: 100%;
            background-color: transparent;
            th {
                border-width: 0;
            }
            thead {
                height: fit-content;
                tr {
                    margin-bottom: 8px;
                    th:not(.dropdown-state) {
                    color:var(--color-40);
                    font-size: 12px;
                    }
                }
            }
            tbody {
                tr {
                    border-radius: 8px;
                    overflow: hidden;
                }
                tr th:not(.dropdown-state) .userInfo{
                    display: inline-flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-shrink: 1;
                    span:nth-of-type(1) {
                        width: 100%;
                        font-weight: 700;
                        font-size: 14px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    span:nth-of-type(2) {
                        font-size: 12px;
                        width: 100%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
                tr th:not(.dropdown-state) .imageAvatar {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 8px;
                    border: 2px solid var(--color-text)
                }
                tr th:not(.dropdown-state) span {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    font-weight: 500;
                    color:var(--color-text);
                }
                th:not(.dropdown-state) {
                    font-size: 14px;
                    font-weight: 500;
                    color:var(--color-text);
                    vertical-align: middle;
                    p:nth-of-type(2) {
                        font-size: 12px;
                        font-weight: 300;
                    }
                }
                th.dropdown-state .dropdown {
                    width: 100%;
                    color:var(--color-text);
                    .dropdown-trigger {
                        width: 100%;
                        .button {
                            width: 100%;
                            justify-content: space-between;
                            background-color: transparent;
                            border-radius: 16px;
                            border:1px solid var(--color-40);
                        }
                    }
                    .dropdown-content {
                        .dropdown-item {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    .userList th:nth-child(2),th:nth-child(3) {
        text-align: center;
    }
    .totalCost {
        display: flex;
        flex-wrap: wrap;
        gap:16px;
        padding:0px;
        background-color: transparent;
        .section-title {
            width: 100%;
            margin-bottom: -8px;
        }
        .cost-card {
            width: calc((100% - 32px) / 3);
            padding:16px;
            border-radius: 16px;
            h1 {
                font-weight: 500;
                font-size: 12px;
                margin-bottom: 24px;
            }
            p {
                font-size: 14px;
                font-weight: 700;
                padding-right: 24px;
                &::after {
                    content: ' vnd'
                }
            }
        }
        .cost-card:nth-of-type(2) {
            background-color: var(--color-main);
            color:var(--color-text)
        }
        .cost-card:nth-of-type(3) {
            background-color: #00b5f3;
            color:var(--color-text)
        }
        .cost-card:nth-of-type(4) {
            background-color: var(--color-40);
            color:var(--color-text)
        }
    }
}

@media only screen and (max-width:1024px) {
    .Dashboard {
        .dashboard-section {
            width: 100%;
        }
    }
    #root > div > div > div.userList.dashboard-section > table > tbody > tr > th:nth-child(1) {
        flex-direction: row;
        .userInfo {
            max-width: 100px;
        }
    }
    .Dashboard .dashboard-section table tbody tr th:nth-of-type(1) {
        display: flex;
        flex-direction: column;
    }
    .Dashboard .dashboard-section table tbody tr th:nth-of-type(2), .Dashboard .dashboard-section table tbody tr th:nth-of-type(3) {
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
        line-height: 40px;
    }
    .Dashboard .dashboard-section table tbody tr th:not(.dropdown-state):nth-of-type(1) p:nth-of-type(1) {
        min-height: 40px;
    }
}