.modal {
    z-index: 9999;
    .modal-background {
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(20px);
    }
    .modal-card {
        background-color: var(--color-20);
        border-radius: 16px;
        .modal-card-head {
            background-color: var(--color-20);
            border-color: var(--color-0);
            p {
                font-size: 1.5rem;
                color:var(--color-text);
            }
            button {
                background-color: var(--color-20);
            }
        }
        .modal-card-body {
            background-color: var(--color-20);
            color:var(--color-text);
            display: flex;
            flex-direction: column;
            gap:16px;
            overflow-x:hidden;
            .card-header-content {
                .card-title {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    input {
                        font-size: 1.5rem;
                        line-height: 24px;
                        font-weight: 700;
                        padding:8px 0px;
                        border-bottom:1px solid var(--color-0);
                    }
                    input:nth-of-type(2) {
                        font-size: 0.875e;
                        line-height: 24px;
                        padding:8px 0px;
                    }
                }
                .cost.col7 {
                    position: relative;
                    #addCostview {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid var(--color-0);
                        font-size: 1rem;
                        line-height: 40px;
                        height: 40px;
                        &::after {
                            content: ' VNĐ';
                        }
                        &.is-editing {
                            &::after {
                                content: '|';
                                transition: all 200ms ease;
                                animation: wordCursor 1000ms infinite;
                            }
                        }
                    }
                    input {
                        position: absolute;
                        top:0;left:0;left:0;right:0;
                        background-color: transparent;
                        border:none;
                        color:transparent;
                        opacity: 0;
                        &:focus {
                            outline: none;
                            border:none;
                            box-shadow: none;
                        }
                    }
                }
            }
            .modal-card-body-time {
                display: flex;
                width: 100%;
                .col6 {
                    width: 200px;
                }
            }
            .card-main-content  {
                margin-top:0;
                display: flex;
                flex-direction: column;
                .brief,.note {
                    width: 100%;
                    min-height: 120px;
                    margin-bottom: 16px;
                    display: flex;
                    flex-direction: column;
                    h1 {
                        margin-bottom: 8px;
                    }
                    div {
                        height: 100%;
                        max-height: fit-content;
                    }
                }
            }
            .card-body-content {
                display: flex;
                position: relative;
                gap:16px;
                justify-content: space-between;
                flex-wrap:wrap;
                align-items: stretch;
                .userselect,.deadline.col6,.dropdown {
                    padding:0px;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    margin-top:32px;
                    position: relative;
                    &::after {
                        display: block;
                        position: absolute;
                        top:-32px;
                        left:0;
                        font-size: 1rem;
                    }
                    .dropdown-trigger {
                        width: 100%;
                        .button {
                            width: 100%;
                            background-color: transparent;
                        }
                    }
                }
                .userselect::after {
                    content: "Incharge";
                }
                .userselect:hover .tag{
                    top:auto;
                    bottom:-25px;
                }
                .deadline.col6 {
                    cursor: pointer;
                }
                .dropdown.is-right {
                    min-width: 100px;
                    border:1px solid var(--color-0);
                    &::after {
                        content: "State"
                    }
                }
                .dropdown.is-right:nth-of-type(4) {
                    &::after {
                        content: "Company"
                    }
                }
                .deadline.col6 {
                    width: fit-content;
                    height: fit-content;
                    border-radius: 16px;
                    position: relative;
                    &::after {
                        content: "Deadline"
                    }
                }
            }
        }
        .modal-card-foot {
            background-color: transparent;
            position: relative;
            border-color: var(--color-0);
            .notification {
                width: fit-content;
                bottom:auto;
                left:auto;
                right:16px;
            }
        }
    }
}