.modal {
    z-index: 9999;
    .modal-background {
        background-color: rgba(0,0,0,0.7);
        backdrop-filter: blur(20px);
    }
    .modal-card {
        background-color: var(--color-20);
        border-radius: 16px;
        .modal-card-head {
            background-color: var(--color-20);
            border-color: var(--color-0);
            p {
                font-size: 24px;
                color:var(--color-text);
            }
            button {
                background-color: var(--color-20);
            }
        }
        .modal-card-body {
            background-color: var(--color-20);
            color:var(--color-text);
            display: flex;
            flex-direction: column;
            gap:16px;
            .card-header-content {
                .card-title {
                    input {
                        font-size: 24px;
                        font-weight: 700;
                        padding:8px 0px;
                        border-bottom:1px solid var(--color-0);
                    }
                    input:nth-of-type(2) {
                        font-size: 14px;
                    }
                }
                .cost.col7 {
                    #costview {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid var(--color-0);
                    }
                }
            }
            .modal-card-body-time {
                display: flex;
                width: 100%;
                .col6 {
                    width: 200px;
                }
            }
            .card-main-content  {
                margin-top:0;
                display: flex;
                flex-direction: column;
                .brief,.note {
                    width: 100%;
                }
            }
            .card-body-content {
                display: flex;
                position: relative;
                gap:16px;
                .userselect,.deadline.col6,.dropdown {
                    width: fit-content;
                    padding:8px 16px;
                    height: fit-content;
                    border-radius: 16px;
                    border:1px solid var(--color-0);
                    .dropdown-trigger {
                        width: 100%;
                        .button {
                            width: 100%;
                            background-color: transparent;
                        }
                    }
                }
                .deadline.col6 {
                    width: fit-content;
                    padding:8px 16px;
                    height: fit-content;
                    border-radius: 16px;
                    position: relative;
                }
            }
        }
        .modal-card-foot {
            background-color: transparent;
            border-color: var(--color-0);
        }
    }
}