@charset "UTF-8";
.modal {
  z-index: 9999;
}

.modal .modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.modal .modal-card {
  background-color: var(--color-20);
  border-radius: 16px;
}

.modal .modal-card .modal-card-head {
  background-color: var(--color-20);
  border-color: var(--color-0);
}

.modal .modal-card .modal-card-head p {
  font-size: 1.5rem;
  color: var(--color-text);
}

.modal .modal-card .modal-card-head button {
  background-color: var(--color-20);
}

.modal .modal-card .modal-card-body {
  background-color: var(--color-20);
  color: var(--color-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  overflow-x: hidden;
}

.modal .modal-card .modal-card-body .card-header-content .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.modal .modal-card .modal-card-body .card-header-content .card-title input {
  font-size: 1.5rem;
  line-height: 24px;
  font-weight: 700;
  padding: 8px 0px;
  border-bottom: 1px solid var(--color-0);
}

.modal .modal-card .modal-card-body .card-header-content .card-title input:nth-of-type(2) {
  font-size: 0.875e;
  line-height: 24px;
  padding: 8px 0px;
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 {
  position: relative;
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 #addCostview {
  display: block;
  width: 100%;
  border-bottom: 1px solid var(--color-0);
  font-size: 1rem;
  line-height: 40px;
  height: 40px;
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 #addCostview::after {
  content: ' VNĐ';
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 #addCostview.is-editing::after {
  content: '|';
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-animation: wordCursor 1000ms infinite;
          animation: wordCursor 1000ms infinite;
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 input {
  position: absolute;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: transparent;
  opacity: 0;
}

.modal .modal-card .modal-card-body .card-header-content .cost.col7 input:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal .modal-card .modal-card-body .modal-card-body-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.modal .modal-card .modal-card-body .modal-card-body-time .col6 {
  width: 200px;
}

.modal .modal-card .modal-card-body .card-main-content {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-card .modal-card-body .card-main-content .brief, .modal .modal-card .modal-card-body .card-main-content .note {
  width: 100%;
  min-height: 120px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-card .modal-card-body .card-main-content .brief h1, .modal .modal-card .modal-card-body .card-main-content .note h1 {
  margin-bottom: 8px;
}

.modal .modal-card .modal-card-body .card-main-content .brief div, .modal .modal-card .modal-card-body .card-main-content .note div {
  height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.modal .modal-card .modal-card-body .card-body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.modal .modal-card .modal-card-body .card-body-content .userselect, .modal .modal-card .modal-card-body .card-body-content .deadline.col6, .modal .modal-card .modal-card-body .card-body-content .dropdown {
  padding: 0px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  position: relative;
}

.modal .modal-card .modal-card-body .card-body-content .userselect::after, .modal .modal-card .modal-card-body .card-body-content .deadline.col6::after, .modal .modal-card .modal-card-body .card-body-content .dropdown::after {
  display: block;
  position: absolute;
  top: -32px;
  left: 0;
  font-size: 1rem;
}

.modal .modal-card .modal-card-body .card-body-content .userselect .dropdown-trigger, .modal .modal-card .modal-card-body .card-body-content .deadline.col6 .dropdown-trigger, .modal .modal-card .modal-card-body .card-body-content .dropdown .dropdown-trigger {
  width: 100%;
}

.modal .modal-card .modal-card-body .card-body-content .userselect .dropdown-trigger .button, .modal .modal-card .modal-card-body .card-body-content .deadline.col6 .dropdown-trigger .button, .modal .modal-card .modal-card-body .card-body-content .dropdown .dropdown-trigger .button {
  width: 100%;
  background-color: transparent;
}

.modal .modal-card .modal-card-body .card-body-content .userselect::after {
  content: "Incharge";
}

.modal .modal-card .modal-card-body .card-body-content .userselect:hover .tag {
  top: auto;
  bottom: -25px;
}

.modal .modal-card .modal-card-body .card-body-content .deadline.col6 {
  cursor: pointer;
}

.modal .modal-card .modal-card-body .card-body-content .dropdown.is-right {
  min-width: 100px;
  border: 1px solid var(--color-0);
}

.modal .modal-card .modal-card-body .card-body-content .dropdown.is-right::after {
  content: "State";
}

.modal .modal-card .modal-card-body .card-body-content .dropdown.is-right:nth-of-type(4)::after {
  content: "Company";
}

.modal .modal-card .modal-card-body .card-body-content .deadline.col6 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 16px;
  position: relative;
}

.modal .modal-card .modal-card-body .card-body-content .deadline.col6::after {
  content: "Deadline";
}

.modal .modal-card .modal-card-foot {
  background-color: transparent;
  position: relative;
  border-color: var(--color-0);
}

.modal .modal-card .modal-card-foot .notification {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: auto;
  left: auto;
  right: 16px;
}
/*# sourceMappingURL=Modal.css.map */