@charset "UTF-8";
@-webkit-keyframes wordCursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes wordCursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tag {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.14);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.14);
}

.tag:not(body).is-info {
  background-color: var(--color-0);
}

.deadline:hover .tag, .start:hover .tag, .end:hover .tag {
  opacity: 1;
  visibility: visible;
  bottom: -20px;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus-visible {
  outline: none;
}

.toolbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 80px;
  width: 100%;
  max-width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-0);
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.dropdown .button {
  background-color: var(--color-bg);
  border: none;
  color: var(--color-text);
}

.dropdown .button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--color-main);
}

.dropdown .dropdown-menu {
  display: block;
  top: 70%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 8px;
}

.dropdown .dropdown-menu .dropdown-content {
  background-color: var(--color-20);
  -webkit-box-shadow: var(--ds-lv1);
          box-shadow: var(--ds-lv1);
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item {
  color: var(--color-text);
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item:hover {
  color: var(--color-text);
  background-color: var(--color-40);
}

.dropdown .dropdown-menu .dropdown-content .dropdown-item.is-active {
  background-color: var(--color-main);
  color: var(--color-text);
}

.dropdown.is-active .dropdown-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.search.control {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.search.control input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 48px;
  color: var(--color-text);
  background-color: transparent;
}

.search.control input::-webkit-input-placeholder {
  color: var(--color-text);
  font-style: italic;
  opacity: 0.5;
}

.search.control input:-ms-input-placeholder {
  color: var(--color-text);
  font-style: italic;
  opacity: 0.5;
}

.search.control input::-ms-input-placeholder {
  color: var(--color-text);
  font-style: italic;
  opacity: 0.5;
}

.search.control input::placeholder {
  color: var(--color-text);
  font-style: italic;
  opacity: 0.5;
}

.search.control input:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search.control input:focus ~ .icon.is-left {
  color: var(--color-text);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--color-variant);
  -ms-flex-negative: 1;
      flex-shrink: 1;
  gap: 24px;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-40);
}

.overlay {
  position: fixed;
  width: calc(100% - 32px);
  height: 230px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #2F2F2F), to(rgba(47, 47, 47, 0)));
  background: linear-gradient(180deg, #2F2F2F 80%, rgba(47, 47, 47, 0) 100%);
  z-index: 2;
}

.card-company {
  width: 100%;
  padding: 16px 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.card-company.is-animation {
  opacity: 0;
  padding: 0;
}

.card-company .card-company-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.card-company .card-company-header h1 {
  font-size: 12px;
  color: var(--color-text);
  font-weight: 500;
  opacity: 0.5;
}

.card-company .card-company-header .linebreak {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: var(--color-text);
  opacity: 0.5;
}

.taskList {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 90px;
  z-index: 1;
}

.taskList.is-hover .card {
  opacity: 30%;
}

.card-tasksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 16px;
  border-radius: 16px;
  height: auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 0;
}

.card .background-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: 16px;
}

.card .background-card::before, .card .background-card::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.card .background-card::before {
  bottom: 0;
  height: 200%;
  background-color: transparent;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card .background-card img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-trigger {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.card .card-trigger-header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

.card .card-trigger-header-incharge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-trigger-header-incharge .card-trigger-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 32px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card .card-trigger-header-incharge .card-trigger-time .card-time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  padding-top: 2px;
  color: var(--color-text);
  cursor: pointer;
}

.card .card-trigger-header-incharge .card-trigger-time .card-time span.material-symbols-outlined {
  font-size: 16px;
  line-height: auto;
}

.card .card-trigger-header-incharge .userselect.dropdown .dropdown-trigger .button {
  background-color: transparent;
}

.card .card-trigger-header-incharge .dropdown.is-right {
  min-width: 100px;
}

.card .card-trigger-header-incharge .dropdown.is-right .dropdown-trigger {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-trigger-header-incharge .dropdown.is-right .dropdown-trigger .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: 1px solid var(--color-text);
}

.card .card-trigger .card-content {
  width: 100%;
  border: none;
  padding: 0;
}

.card .card-trigger .card-content-header {
  width: 100%;
}

.card .card-trigger .card-content-header.is-active p {
  max-height: 200px;
  opacity: 1;
}

.card .card-trigger .card-content-header h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 8px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card .card-trigger .card-content-header p {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  margin-bottom: 4px;
}

.card .card-trigger .card-content-main {
  margin-top: 0;
  color: var(--color-text);
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
}

.card .card-trigger .card-content-main.is-active {
  margin-top: 16px;
  opacity: 1;
  max-height: 1000px;
}

.card .card-trigger .card-content-main .brief {
  margin-bottom: 16px;
}

.card .card-trigger .card-content-main .brief, .card .card-trigger .card-content-main .note {
  min-width: 100%;
}

.card .card-trigger .card-content-main .brief h1, .card .card-trigger .card-content-main .note h1 {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-text);
  opacity: 0.8;
  margin-bottom: 8px;
}

.card .card-trigger .card-content-main .brief div, .card .card-trigger .card-content-main .note div {
  width: 100%;
  font-size: 14px;
}

.card .card-trigger .card-content-main .cost {
  font-size: 12px;
  font-weight: 500;
  padding-top: 2px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}

.card .card-trigger .card-content-main .cost span:nth-of-type(2)::after {
  content: ' VNĐ';
}

.card .card-trigger .card-content-main .cost span.is-editing::after {
  content: '|';
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-animation: wordCursor 1000ms infinite;
          animation: wordCursor 1000ms infinite;
}

.card .card-trigger .card-content-main .cost .tag {
  left: 0;
  top: -10px;
}

.card .card-trigger .card-content-main .cost:hover .tag {
  opacity: 1;
  visibility: visible;
  top: -20px;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.card .card-trigger .card-content-main .cost.input {
  position: absolute;
  background-color: transparent;
  border: none;
  color: transparent;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.card .card-trigger .card-content-main .cost:focus, .card .card-trigger .card-content-main .cost:focus-visible {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card .card-trigger .card-content-main .action-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.card:hover {
  z-index: 1;
}

.card:hover .background-card::after {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.card:hover .background-card::before {
  opacity: 1;
  visibility: visible;
}

.card[style="width: 100%"] .background-card::before {
  bottom: 0;
  opacity: 0.6;
}

.card[style="width: 100%"] .background-card::after {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.users-incharge.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  gap: 8px;
  font-size: 12px;
  padding: 0;
  border: none;
}

.users-incharge.dropdown .tag {
  top: 20px;
}

.users-incharge.dropdown:hover .tag {
  opacity: 1;
  visibility: visible;
  top: -30px;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.users-incharge.dropdown .dropdown-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-incharge.dropdown .dropdown-trigger .button {
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.users-incharge.dropdown .dropdown-trigger .button .button-image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-incharge.dropdown .dropdown-trigger .button .button-image img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-text);
}

.users-incharge.dropdown .dropdown-trigger .button .button-image span {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.users-incharge.dropdown .dropdown-trigger .button .icon {
  margin: 4px 0 0 0;
}

.users-incharge.dropdown .dropdown-menu .dropdown-item {
  padding: 16px;
}

.users-incharge.dropdown .dropdown-menu .dropdown-item span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.users-incharge.dropdown .dropdown-menu .dropdown-item span img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-text);
}

.users-incharge.dropdown .dropdown-menu .dropdown-item span span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
}

.deadline, .start, .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.deadline .material-symbols-outlined, .start .material-symbols-outlined, .end .material-symbols-outlined {
  line-height: 40px;
}

.deadline .react-calendar, .start .react-calendar, .end .react-calendar {
  top: 42px;
  position: absolute;
  z-index: 99;
  background-color: var(--color-20);
  border-radius: 16px;
  -webkit-box-shadow: var(--ds-lv1);
          box-shadow: var(--ds-lv1);
  border: 1px solid var(--color-0);
  font-family: "Inter",sans-serif;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 16px;
  max-width: none;
}

.deadline .react-calendar button, .start .react-calendar button, .end .react-calendar button {
  border-radius: 4px;
}

.deadline .react-calendar.is-active, .start .react-calendar.is-active, .end .react-calendar.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.deadline .react-calendar .react-calendar__navigation button:enabled:hover, .start .react-calendar .react-calendar__navigation button:enabled:hover, .end .react-calendar .react-calendar__navigation button:enabled:hover {
  background-color: #252525;
}

.deadline .react-calendar .react-calendar__navigation button:enabled:focus, .start .react-calendar .react-calendar__navigation button:enabled:focus, .end .react-calendar .react-calendar__navigation button:enabled:focus {
  background-color: var(--color-20);
}

.deadline .react-calendar .react-calendar__navigation, .start .react-calendar .react-calendar__navigation, .end .react-calendar .react-calendar__navigation {
  height: 32px;
}

.deadline .react-calendar .react-calendar__viewContainer abbr, .start .react-calendar .react-calendar__viewContainer abbr, .end .react-calendar .react-calendar__viewContainer abbr {
  font-weight: 400;
  text-decoration: none;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile--now, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile--now, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile--now {
  background-color: var(--color-40);
  border-radius: 4px;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile--now abbr, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile--now abbr, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile--now abbr {
  font-weight: 700;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile:enabled:focus, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile:enabled:focus, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile:enabled:focus {
  background-color: var(--color-0);
  border-radius: 4px;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile:hover, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile:hover, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile:hover {
  background-color: #252525;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days__day--weekend, .start .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days__day--weekend, .end .react-calendar .react-calendar__viewContainer .react-calendar__month-view__days__day--weekend {
  color: var(--color-main);
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile--active, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile--active, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile--active {
  background-color: var(--color-0);
  border-radius: 4px;
}

.deadline .react-calendar .react-calendar__viewContainer .react-calendar__tile--hasActive, .start .react-calendar .react-calendar__viewContainer .react-calendar__tile--hasActive, .end .react-calendar .react-calendar__viewContainer .react-calendar__tile--hasActive {
  background-color: var(--color-0);
}

*[contenteditable="true"] {
  padding: 4px 8px;
  border: 1px solid var(--color-40);
  border-radius: 4px;
}

*[contenteditable="true"]:focus {
  outline: none;
}
/*# sourceMappingURL=Tasks.css.map */